<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="container mt-2" *ngIf="authService.currentLoggedInUser">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control pr-1"
      placeholder="Type your question?"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      #question
    />
    <button
      class="btn btn-outline-secondary"
      (click)="askQuestion(question)"
      type="button"
    >
      Ask
    </button>
  </div>
</div>

<div class="container mt-2">
  <div class="card">
    <!-- SEARCH BAR -->
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" (keyup)="searchItems()">
    <ul>
        <li *ngFor="let item of filteredItems">{{ item }}</li>
      </ul>
    <h5 class="card-header">Previously asked questions</h5>
    <div class="card-body">
      <ul class="list-group" *ngFor="let question of questions">
        <li
          class="list-group-item question"
          title="Answer this question"
          (click)="navigateToAnswer(question)"
        >
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{ question.text }}</p>
            <small class="text-muted">~ {{ question.user.name }}</small>
            <div class="d-flex align-items-center" *ngIf="isAdminUser">
              <button
                class="btn btn-primary mx-1"
                (click)="
                  editQuestion(question.id, newText); $event.stopPropagation()
                "
              >
                <i class="fas fa-edit"></i>
              </button>
              <button
                class="btn btn-danger mx-1"
                (click)="deleteQuestion(question.id); $event.stopPropagation()"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
